
p, h1, a {
	color: white;
	font-weight: bold;
}

header p {
	font-size: 40px;
}

.button {
	background-color: black;
	border-radius: 50px;
	color: white;
	font-weight: bold;
}

#messages {
	font-size: 50px;
}